.media
	img
		float left
	div
		float left

body
	background-color #eee
	width 640px
	height 920px
	outline 2px solid black
	font-size 25px
	font-family helvetica

.login-view
	width 100%
	box-sizing border-box
	padding 50px
	.logo
		//width 130px
	.app-name
		color #555
		position relative
		top 16px
		font-size 35px
		margin-left 24px
	input
		width 100%
		box-sizing border-box
		border-radius 9px
		line-height 2
		margin-top 12px
		text-indent 13px
	button
		float right
		background-image url(../images/button.png)
		background-repeat no-repeat
		border none
		width 216px
		height 77px
		margin-top 16px
