view-padding=50px
border-color=#ccc
border-radius=11px
.media
	img
		float left
	div
		float left

.line
	overflow auto

.right
	float right

body
	background-color #fefefe
	width 640px
	height 920px
	outline 2px solid #ccc
	font-size 25px
	font-family helvetica
	color #111

ul
	list-style-type none
	margin-left 0

#z-app
	> div
		outline 1px dashed #ccc
		height 920px
	position relative
	//top -920px*2

.z-app
	position relative
	> div
		display none
		position absolute
		left 0
		top 0
		&.transition
			-webkit-transition: left .4s

		&.active
			display block


.loginView
	width 100%
	box-sizing border-box
	padding 50px
	.logo
		//width 130px
	.app-name
		color #555
		position relative
		top 16px
		font-size 35px
		margin-left 24px
	input
		width 100%
		box-sizing border-box
		border-radius 9px
		line-height 2
		margin-top 12px
		text-indent 13px
	button
		float right
		background-image url(../images/button.png)
		background-repeat no-repeat
		border none
		width 216px
		height 77px
		margin-top 16px


.accountListView
	width 100%
	box-sizing border-box
	padding 0
	.cardChooser
		.cardNumber
			float left
		.total
			float right
			color gray
	.cardsTitle, .accountsTitle
		webkit-user-select none
		font-size 18px
		color #666
		padding 20px
		background-image: linear-gradient(top, rgb(215,215,217) 0%, rgb(152,152,156) 100%);
		background-image: -o-linear-gradient(top, rgb(215,215,217) 0%, rgb(152,152,156) 100%);
		background-image: -moz-linear-gradient(top, rgb(215,215,217) 0%, rgb(152,152,156) 100%);
		background-image: -webkit-linear-gradient(top, rgb(215,215,217) 0%, rgb(162,162,166) 100%);
		background-image: -ms-linear-gradient(top, rgb(215,215,217) 0%, rgb(152,152,156) 100%);
	.card, .account
		-webkit-user-select none
		height 90px
		display -webkit-box
		-webkit-box-pack center
		padding 0 20px
		&.active-state
			background-color #eee
		>*
			height 90px
		//&:not(:last-child)
		border-bottom 1px solid #bbb
		>.col-left
			display -webkit-box
			-webkit-box-flex 2
			-webkit-box-orient vertical
			-webkit-box-pack justify
			box-sizing border-box
			padding 15px 0
			.status
				color #bbb
				font-size 18px
			.cardNumber, .accountNumber
				font-weight bold

		>.col-right
			-webkit-box-flex 1
			display table-row
			.total
				display table-cell
				vertical-align middle
				text-align right
				padding-right 15px

.cardView
	padding-top 20px
	.overview
		overflow auto
		border 2px solid border-color
		border-radius border-radius
		width 92%
		margin auto

		dt, dd
			&:not(:last-of-type)
				border-bottom 2px solid border-color
			width 50%
			display block
			box-sizing border-box
			padding 16px 20px

		dt
			float left
			clear left
			font-weight bold
		dd
			float right
			text-align right
		margin-bottom 20px
	
	.latestTransactions
		width 92%
		box-sizing border-box
		margin auto
		border-collapse separate
		caption
			text-align left
			background-color #eee
			padding 15px 20px
			border-top-left-radius border-radius
			border-top-right-radius border-radius
			border 2px solid border-color
			border-bottom none
			color #777
		td
			padding 16px 20px
			border=2px solid border-color
			border border
			&:first-child
				border-right none
			&:last-child
				border-left none
				text-align right
			
		tr:last-child
			td
				&:first-child
					border-bottom-left-radius border-radius
				&:last-child
					border-bottom-right-radius border-radius
			
				
			



[data-widget="selector"]{
	.select-button{
		width 20px
	}
}


