.media img {
  float: left;
}
.media div {
  float: left;
}
body {
  background-color: #eee;
  width: 640px;
  height: 920px;
  outline: 2px solid #000;
  font-size: 25px;
  font-family: helvetica;
}
.login-view {
  width: 100%;
  box-sizing: border-box;
  padding: 50px;
}
.login-view .app-name {
  color: #555;
  position: relative;
  top: 16px;
  font-size: 35px;
  margin-left: 24px;
}
.login-view input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 9px;
  line-height: 2;
  margin-top: 12px;
  text-indent: 13px;
}
.login-view button {
  float: right;
  background-image: url("../images/button.png");
  background-repeat: no-repeat;
  border: none;
  width: 216px;
  height: 77px;
  margin-top: 16px;
}
